
body {
    color: white;
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(128, 112, 236);
    padding: 20px;
    font-size: 32px;
    color: rgb(128, 112, 236);
}

section {
    background: rgb(108, 55, 164);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}